html{
    background-color: rgb(242, 242, 242);
    height: auto;
    width: auto;
    transition: opacity 1s ease-in-out;
}
.titre{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.de-connextion-adm{
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.infos-adm{
    cursor: pointer;
    height: 50px;
    width: 50px;
}
.infos-adm:active{
    cursor: pointer;
}
.infos-site{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    cursor: help;
}
.fermer-liste{
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}
.fermer-liste-2{
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}
.liste-des-alertes{
    transition: all 1s;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    margin-left: 300px;
    margin-right: 300px;
    box-shadow: 0px 0px 5px 0px #656565;
}
.liste-des-alertes:hover{
    transition: all 2s;
    background-color: #b7b5b5c4;
}
.infos-site-text{
    transition: all 1s;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    margin-left: 300px;
    margin-right: 300px;
    box-shadow: 0px 0px 5px 0px #656565;
}
.infos-site-text:hover{
    transition: all 2s;
    background-color: #b7b5b5c4;
}
.intro-liste-des-alertes{
    margin-left: 10px;
    margin-top: 10px;
}
.alertes-1 {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.alertes-2{
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listedestaches{
    transition: all 2s;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    width: 350px;
    height: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    box-shadow: 0px 0px 5px 0px #656565;
}
.listedestaches:hover{
    transition: all 2s;
    width: 500px;
    height: flex;
}
.intro-infos-site-texte{
    margin-left: 10px;
}
.Infos-importantes{
    margin-left: 10px;
    margin-bottom: 20px;
}
.li2{
    background-color: dimgrey;
    border-radius: 5px;
    width: 300px;
}
footer{
    background-color: goldenrod;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;
}
.copyright{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
}
.github{
    cursor: pointer;
    height: 35px;
    width: 62.23px;
}