html{
    background-color: rgb(242, 242, 242);
    height: auto;
    width: auto;
}
.titre{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.de-connextion-adm{
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.infos-adm{
    cursor: not-allowed;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listedestaches{
    background-color: rgb(255,255,255);
    border-radius: 10px;
    width: 350px;
    height: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
.li2{
    background-color: dimgrey;
    border-radius: 5px;
    width: 300px;
}